version: "2"

services:
  mongodb:
    image: mongo
    network_mode: host
    restart: always
    volumes:
      - {{ mongodb_dir }}:/etc/mongodb
      - {{ mongodb_dir }}/data:/data/db
    entrypoint: mongod --bind_ip_all --port {{ mongodb_port }} --replSet {{ replica_set_name }} --keyFile /etc/mongodb/mongodb.key

  {% if groups['mongodb']|length == 2 and inventory_hostname in groups['mongodb-secondary'] %}
    # create additional arbiter 
  mongodb-1:
    image: mongo
    network_mode: host
    restart: always
    volumes:
      - {{ mongodb_dir }}:/etc/mongodb
    entrypoint: mongod --bind_ip_all --port {{ mongodb_arbiter_port | default(mongodb_port + 1) }} --replSet {{ replica_set_name }} --keyFile /etc/mongodb/mongodb.key
  {% endif %}
