const config = {
  _id: "{{ replica_set_name }}",
  members: [
    {% for host_name in groups['mongodb'] %}
      {
        _id: {{ loop.index }},
        host: "{{ hostvars[host_name]['ansible_default_ipv4']['address'] }}:{{ mongodb_port }}",
        priority: {% if host_name in groups['mongodb-primary'] %}2{% else %}1{% endif %}
      }
    {% if not loop.last %},{% else %}
      {% if groups['mongodb']|length == 2 %}
      , {
        _id: {{ loop.length + 1 }},
        host: "{{ hostvars[host_name]['ansible_default_ipv4']['address'] }}:{{ mongodb_arbiter_port | default(mongodb_port + 1) }}",
        arbiterOnly: true
      }
      {% endif %}
    {% endif %}
    {% endfor %}
  ]
}
rs.initiate(config, {force: true});
